//FONTS_________________________________________________________________
@font-face {
	font-family: 'IBM-Regular';
	src:url('fonts/IBMPlexMono-Regular.eot') format('embedded-opentype'),
        url('fonts/IBMPlexMono-Regular.woff') format('woff'),
		url('fonts/IBMPlexMono-Regular.ttf') format('truetype'),
		url('fonts/IBMPlexMono-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IBM-Medium';
	src:url('fonts/IBMPlexMono-Medium.eot') format('embedded-opentype'),
        url('fonts/IBMPlexMono-Medium.woff') format('woff'),
		url('fonts/IBMPlexMono-Medium.ttf') format('truetype'),
		url('fonts/IBMPlexMono-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IBM-Bold';
	src:url('fonts/IBMPlexMono-Bold.eot') format('embedded-opentype'),
        url('fonts/IBMPlexMono-Bold.woff') format('woff'),
		url('fonts/IBMPlexMono-Bold.ttf') format('truetype'),
		url('fonts/IBMPlexMono-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//FONTS AND COLORS____________________________________________________
@mixin size($size){//font size mixin
	font-size: #{$size/16}rem;
}

$colors : (//colors table
	'blue' : #011C43,
	'aqua' : #76B2B1,
	'light-aqua': #8FC4C3,
	'red': #EB1E4D,
	'white': #FFFFFF,
	'cream': #F5F5F5
);

@mixin color($color){//text color mixin
	color: map-get($colors, $color);
}

@mixin background($color){//background color mixin
	background-color: map-get($colors, $color);
}

.red{//red color class
	@include color('red');
}

//GENERAL______________________________________
body{//default IBM Bold white
	font-family: 'IBM-Bold', sans-serif;
	@include color('white');
	@include background('cream');
}

body>header, main>section, body>footer{//section parameters
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

a{//link reset and z-position
	color: inherit;
	position: relative;
	z-index: 2;

	&:hover{
		text-decoration: none;
	}
}

button{//button reset and z-position
	color: inherit;
	position: relative;
	z-index: 2;
}

.icon{//svg background icon
	height: auto;
	position: absolute;
	z-index: 1;
}

//TOP BAR_________________________________________
#top-bar{

	#logo{//logo
		height: 4vw;
		width: auto;
	}

	#menu-btn{//menu
		@include background('white');
		border-radius: 100%;
		box-shadow: 0 3px 6px rgba(0,0,0,0.15);
		cursor: pointer;
		width: 4vw;
		height: 4vw;

		svg{
			width: 2vw;
		}
	}
}

//HOME_____________________________________________
#home{
	@include background('blue');

	h1{//title
		@include size(144);

		>span:last-of-type{
			&::before, &::after{//deco title
				content: '';
				display: block;
				width: 7.427rem;
				height: 7rem;
				background-image: url("media/home-title-deco.svg");
				background-size: cover;
			}
		}
	}

	h2{//subtitle
		font-family: 'IBM-Medium', sans-serif;
		@include size(28);
		//down with no h1 up
		position: relative;
		top: 2rem;

		&::before{//decoration line
			content: "";
			display: block;
			width: 5.5rem;
			height: 0.15rem;
			flex-shrink: 0;
			margin-top: 1.5rem;
			margin-right: 2rem;
			@include background('red');
		}
	}

	>svg{//background icons

		&#home-comet{
			width: 8vw;
			top: 0;
			right: 35vw;
		}
	
		&#home-drone{
			width: 7vw;
			bottom: 0;
			left: 1.5vw;
		}
	
		&#home-plant{
			width: 7vw;
			bottom: 0;
			right: 13vw;
		}

		&#home-sun{
			width: 8vw;
			bottom: 0;
			right: 4vw;
		}

		&#home-feather{
			width: 7vw;
			bottom: 28vh;
			right: 0;
		}

		&#home-stars{
			width: 100vw;
			z-index: 0;
		}
	}
}

//ABOUT__________________________________________________
#about{

	h2{//title
		@include color('blue');
		@include size(62);
	}

	p{//status and button
		@include size(22);

		&#status{//status
			font-family: 'IBM-Medium', sans-serif;
			
			strong{//period
				text-decoration: underline;
				font-weight: normal;
			}
		}

		&#portrait{//portrait
			position: relative;
			z-index: 2;
	
			&::before{//deco
				content: url('media/about-left-deco.svg');
			}
	
			&::after{//deco
				content: url('media/about-right-deco.svg');
			}
		}

		a{//contact button
			display: block;
			@include size(20);
			letter-spacing: 0.3rem;
			border: 0.125rem solid map-get($colors,'red');
			border-radius: 3rem;
			box-shadow: 0 3px 6px rgba(0,0,0,0.15);
		}
	}

	>svg{//background icons

		&#about-bck{
			width: 100vw;
			top: -10vh;
			left: 2vw;
		}
	}
}

//SKILL___________________________________________________________
#skill{
	@include background('blue');

	h2{//title
		@include size(58);
	}

	p{//skills
		font-family: 'IBM-Medium', sans-serif;
		@include size(17);
		max-width: 14rem;

		&#bdd{
			&::before{//deco
				content: url('media/skill-bdd-deco.svg');
			}
		}

		&#dynamic{
			&::before{//deco
				content: url('media/skill-dynamic-deco.svg');
			}
		}

		&#integration{
			&::before{//deco
				content: url('media/skill-integration-deco.svg');
			}
		}

		&#secure{
			&::before{//deco
				content: url('media/skill-secure-deco.svg');
			}
		}
	}

	#galaxy{

		svg{
			position: absolute;
			top: 50%;
			right: 25%;
			transform: translate(50%,-50%);
		}

		#skill-planet{
			height: 10%;
		}

		#skill-stars-1{
			height: 23%;
		}

		#skill-circle-1{
			height: 32%;
		}

		#skill-circle-2{
			height: 45%;
		}

		#skill-stars-2{
			height: 60%;
		}

		#skill-circle-3{
			height: 65%;
		}

		#skill-stars-3{
			height: 77%;
		}
	}
	
	>svg{//background icons

		&#skill-big-plant{
			width: 45vw;
			bottom: 0;
			left: -3vw;
		}
	}
}

//PROJECT________________________________________________________
#project{
	@include color('blue');
	@include size(20);

	#carousel{//carousel

		>div{

			&:first-of-type{//prev
				writing-mode: sideways-lr;
			}

			&:last-of-type{//next
				writing-mode: sideways-rl;
			}

			a:hover{//prev next
				@include color('red');
			}

			img{//image
				width: 100%;
				height: auto;
			}

			#coin{//coin
				position: absolute;
				left: -2.5rem;
				top: 1rem;
				width: 7.5rem;
				@include color('white');
				@include background('light-aqua');
				border-radius: 100%;
				opacity: 0.7;
				z-index: 3;
				@include size(26);
			}
		}
	}

	#project-title{//title
		@include size(34);

		&::before{//title deco
			content: '';
			position: absolute;
			display: block;
			width: 7.5rem;
			height: 7.0625rem;
			bottom: 105%;
			background-image: url("media/project-title-deco.svg");
		}
	}

	#project-link{

		&::before{//decoration line
			content: "";
			display: inline-block;
			width: 5rem;
			height: 0.15rem;
			margin-right: 1rem;
			margin-bottom: 0.4rem;
			@include background('red');
		}
	}

	>svg{//background icons

		&#project-big-plant{
			width: 117vw;
			top: -34vh;
			right: -5vw;
		}

		&#project-feather{
			width: 7vw;
			bottom: 33vh;
			left: 0;
		}

		&#project-drone{
			width: 7vw;
			top: 0;
			right: 2vw;
		}
	}
}

//CONTACT_______________________________________________
#contact{
	@include background('blue');

	#border-deco{
		border: 2px solid map-get($colors,'light-aqua');
		border-radius: 1rem;
		margin: 5vh 3vw;
	}

	form{//form

		span{//red star
			margin-left: -0.8rem;
		}

		.deco{//underline
			border-bottom: 3px solid map-get($colors,'light-aqua');
		}

		input{//input
			background: none;
			// border: none;
			flex-grow: 1;
		}

		label{//label
			@include size(22);
			font-family: 'IBM-Regular', sans-serif;
		}

		label[for=name], input[name=name]{//name
			@include size(46);
			font-family: 'IBM-Bold', sans-serif;
		}

		button{//submit button
			@include size(20);
			@include background('light-aqua');
			letter-spacing: 0.3rem;
			border: none;
			border-radius: 3rem;
			box-shadow: 0 3px 6px rgba(0,0,0,0.15);
		}
	}

	#bottom-bar{
		bottom: 0;
		text-decoration: underline;

		#social{

			svg{
				@include background('blue');
				padding: 1.5rem 0 0 1.8vw;
				box-sizing: content-box;
			}

			address{
				@include background('blue');
				@include size(22);
				padding: 1rem 1rem 3vh 1.8vw;
				font-family: 'IBM-Medium', sans-serif;
				margin-bottom: 0;

				&::before{
					content: url('media/contact-mail.svg');
					display: inline-block;
					margin-right: 0.5rem;
					margin-top: 0.5rem;
				}
			}
		}

		#legal{
			padding-right: 5vw;
			margin-bottom: 1vh;
		}
	}

	>svg{//background icons

		&#contact-lateral-stars{
			width: 98vw;
			left: 0;
			bottom: 4vh;
		}

		&#contact-horizontal-stars{
			height: 100vh;
			width: auto;
			top: 0;
		}

		&#contact-planet{
			width: 14vw;
			top: 1vh;
			right: 1vw;
		}

		&#contact-sun{
			width: 8vw;
			bottom: 5vh;
			right: 5vw;
		}
	}
}

//PROJECT TOP BAR___________________________________
#top-bar{
	#return{//return button
		display: block;
		@include size(20);
		letter-spacing: 0.3rem;
		border: 0.125rem solid map-get($colors,'red');
		border-radius: 3rem;
		box-shadow: 0 3px 6px rgba(0,0,0,0.15);
	}
}

